html {background-color: rgb(190, 203, 218)}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;


  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 40%;
  margin:0px auto;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

img {
  max-height: 400px;
}

canvas {
  border-radius: 24px;
  width: 10%;
  height: auto;
  filter: drop-shadow(0px 3px 4px gray);
  touch-action: none;
}

.graphDiv {
  cursor: grabbing;
  touch-action: none;
}

.galleryDiv {
  background-color: rgb(224, 242, 248);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  border-radius: 25px;
}

.horizontalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 8px;
  border-radius: 1vh;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 3px 0.6px rgba(0, 0, 0, 0.137));

  font-size: 18px;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}
