html {background-color: rgb(214, 231, 222)}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;


  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 40%;
  margin:0px auto;
}

canvas {
  border-radius: 24px;
  width: 10%;
  height: auto;
  filter: drop-shadow(0px 3px 4px gray);
  touch-action: none;
}

.graphDiv {
  cursor: grabbing;
  touch-action: none;
}



.horizontalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.137));
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}