canvas {
  border-radius: 24px;
  width: 10%;
  height: auto;
  filter: drop-shadow(0px 8px 4px gray);
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}